/* HOMEPAGE */

*,
*::before,
*::after {
    box-sizing: border-box;
}

#homepage {
    margin: 0px;
    background-color:#333333;
}

.home-header {
    margin-top: 0px;
    color: #ffffff;
    padding: 16px 625px;
}

button {
    display: inline-block;
    background-color: whitesmoke;
    padding: 16px;
}

#b2,
#b3 {
    margin-left: 300px;
}

#b1 {
    margin-left: 270px;
}

.buttons {
    outline: 2px solid whitesmoke;
    padding: 8px;
}



/* Recipe Pages */

.recipe {
    background-color:#333333;
    color: whitesmoke;
}

h2,
h3 {
    margin-top: 50px;
}
